@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #101111;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #8a95f6 , #fad6a6);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: linear-gradient(to bottom, #6271f9 , #fcbb66);
}

::-webkit-scrollbar-thumb:hover {
    background-color: linear-gradient(to bottom, #1128fb , #f99e28);
}